@model Restaurant.Models.Ban

@{
    ViewBag.Title = "Cập nhật bàn";
    Layout = "~/Views/Manager_Layout.cshtml";
}


<div class="container" style="padding-top:120px; min-height:800px">
    <div class="row">
        <div class="col-md-12">
            <h5>Cập nhật bàn</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-horizontal">

                    <hr />
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @Html.HiddenFor(model => model.MaBan)

                    <div class="form-group">
                        <label> Tên bàn</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.TenBan, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.TenBan, "", new { @class = "text-danger" })
                        </div>
                    </div>

                    <div class="form-group">
                        <label> Trạng thái bàn</label>
                       <div class="rs-select2 js-select-simple select--no-search">
                                        <select name="TrangThai">
                                            <option value="Trống">Trống</option>
                                            <option value="Đã đặt trước">Đã đặt trước</option>
                                            <option value="Đang sử dụng">Đang sử dụng</option>
                                        </select>
                                        <div class="select-dropdown"></div>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-offset-2 col-md-10">
                            <input type="submit" value="Lưu thay đổi" class="btn btn-default" />
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>
