@model PagedList.IPagedList<Restaurant.Models.Ban>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Tiếp tân - Trang chủ";
    Layout = "~/Views/Receptionist_Layout.cshtml";
    var counter = 1;
    var dsBan = ViewBag.dsBan;
    var listStatus = ViewBag.listStatus;
    int pageNumber = ViewBag.pageNumber;
    int pageSize = ViewBag.pageSize;
    int order = 0;
    int j = (pageNumber - 1) * pageSize + 1;

}

<style>
    .over_auto {
        width: 100%;
    }

    .modal-backdrop {
        background-color: #ccc !important;
        opacity: 0.6 !important;
    }

    .modal-dialog {
        top: 30% !important;
        max-width: 50%;
    }

    .modal-header {
        background-color: #00BCD4 !important;
    }

    .modal-title {
        color: #fff !important;
    }

    .close {
        position: absolute;
        right: 0;
        top: -3px;
        color: red;
    }
</style>

<main id="main" class="main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">

                <div class="widget-header bordered-bottom bordered-yellow mb-3" style="display: flex">
                    <div class="widget-caption has-sub-caption row col-lg-9 col-md-6">
                        <span class="widget-caption-left" style="width:40px"><i class="menu-icon fa fa-tasks"></i></span>
                        <div class="widget-caption-right">
                            <span class="widget-mainCaption">
                                Danh sách bàn
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" style="padding-right: 0px;">
                        @*<button id="addNewTableBtn" class="btn btn-primary" style="float:right;margin: 15px 15px 0 0;padding: 5px 15px 5px 10px"><i class="fa fa-plus"></i>Thêm mới</button>*@
                    </div>

                </div>
                <div class="row">
                    <div class="row" style="margin-bottom: 0">
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-left: 0">
                            @using (Html.BeginForm("Index", "Receptionist_Home", FormMethod.Get))
                            {
                                <p>
                                    Chọn trạng thái: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                                </p>
                                @Html.Hidden("page", (object)ViewBag.page)
                                @Html.Hidden("searchString", (object)ViewBag.searchValue)
                            }
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="text-align: right; padding-right: 0">

                            @using (Html.BeginForm("DanhSach", "Waiter_TrangThaiBan", FormMethod.Get))
                            {
                                <p>
                                    @*@Html.TextBox("SearchString", (string)ViewBag.searchValue) <input type="submit" value="Tìm kiếm" style="border-color: #ccc; border-radius: 3px" /> <input type="submit" name="Reset" value="Mặc định" style="display: none" />*@
                                    @Html.Hidden("page", (object)ViewBag.page)
                                    @Html.Hidden("size", (object)ViewBag.pageSize)
                                </p>
                            }
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-xs-12 col-md-12" style="padding:0">
                        <div class="widget-body no-padding widget_form_table" id="data">
                            <div class="dataTables_wrapper form-inline" style="padding:5px;">
                                <table id="tblForm" style="width:100%" class="table table-bordered table-hover table-striped dataTable" role="grid" aria-describedby="searchable_info">
                                    <thead>
                                        <tr role="row">
                                            <th tabindex="0" style="width:5%">STT</th>
                                            <th tabindex="0" aria-controls="searchable">Mã bàn</th>
                                            <th aria-controls="searchable">Tên bàn</th>
                                            <th tabindex="0">Trạng thái bàn</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr style="cursor:pointer" data-id="@item.MaBan">
                                                <td style="text-align:center">@counter</td>
                                                <td style="text-align:center">
                                                    @item.MaBan
                                                </td>
                                                <td style="text-align:center">
                                                    @item.TenBan
                                                </td>
                                                <td style="text-align:center">
                                                    @item.TrangThai
                                                </td>
                                            </tr>
                                            counter++;
                                        }
                                    </tbody>
                                </table>
                                <div class="row" id="allDoc_page">
                                    <!-- Thêm mã phân trang -->
                                    <br />
                                    <div class="row">
                                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 " style="text-align: left; padding-left: 0;">

                                            @Html.PagedListPager(Model, page => Url.Action("Index", "Receptionist_Home", new { page, size = ViewBag.currentSize, searchString = ViewBag.searchValue, status = ViewBag.status }))
                                        </div>

                                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 " style="text-align: right; padding-right: 0; padding-top: 20px">
                                            Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                                        </div>
                                    </div>
                                    <!-- Kết thúc -->
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

