@model PagedList.IPagedList<Restaurant.Models.NhanVien>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Quản lý nhân viên";
    Layout = "~/Views/Manager_Layout.cshtml";
    var counter = 1;
    int pageNumber = ViewBag.pageNumber;
    int pageSize = ViewBag.pageSize;

    int order = 0;
    int j = (pageNumber - 1) * pageSize + 1;

}

<style>
    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
}

    .text {
        margin-left: 900px;
        text-align: center;
    }
    /* btn them moi*/
    .btn-1 {
        background: rgb(0,172,238);
        background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
    }

        .btn-1 span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }

        .btn-1:before,
        .btn-1:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: rgba(2,126,251,1);
            transition: all 0.3s ease;
        }

        .btn-1:before {
            height: 0%;
            width: 2px;
        }

        .btn-1:after {
            width: 0%;
            height: 2px;
        }

        .btn-1:hover {
            background: transparent;
            box-shadow: none;
        }

            .btn-1:hover:before {
                height: 100%;
            }
</style>

<main id="main" class="main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">

                <div class="widget-header bordered-bottom bordered-yellow mb-3" style="display: flex">
                    <div class="widget-caption has-sub-caption row col-lg-9 col-md-6">
                        <span class="widget-caption-left" style="width:40px"><i class="menu-icon fa fa-tasks"></i></span>
                        <div class="widget-caption-right">
                            <span class="widget-mainCaption">
                                Danh sách nhân viên
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" style="padding-right: 0px;">
                        <a class="custom-btn btn-1 text" style="float:right" href="/Manager_SignUp/DangKi">Thêm mới</a>                    </div>

                </div>
                <div class="row" style="margin-bottom: 0">
                    <div class="row" style="margin-bottom: 0">
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="padding-left: 0">
                            @using (Html.BeginForm("Index", "Manager_SignUp", FormMethod.Get))
                            {
                                <p>
                                    Kích thước trang: @Html.DropDownList("size", (List<SelectListItem>)ViewBag.size, new { @onchange = "this.form.submit();" })
                                </p>

                                @Html.Hidden("page", (object)ViewBag.page)
                                @Html.Hidden("searchString", (object)ViewBag.searchValue)
                            }
                        </div>
                        <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6" style="text-align: right; padding-right: 0">

                            @using (Html.BeginForm("Index", "Manager_SignUp", FormMethod.Get))
                            {
                                <p>
                                    @Html.TextBox("SearchString", (string)ViewBag.searchValue) <input type="submit" value="Tìm kiếm" style="border-color: #ccc; border-radius: 3px" /> <input type="submit" name="Reset" value="Mặc định" style="display: none" />
                                    @Html.Hidden("page", (object)ViewBag.page)
                                    @Html.Hidden("size", (object)ViewBag.pageSize)
                                </p>
                            }
                        </div>
                    </div>
                    <table id="allDoc_table" class="table table-striped table-bordered" cellspacing="0" style="width: 100%; table-layout: fixed;">
                        <thead>
                            <tr style="color:black; background-color:#00bcd4">
                                @Html.Raw(ViewBag.Headings)
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var d in Model)
                            {

                                //order = order + j;
                            <tr>
                                <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">@j</td>
                                @{
                                    j = j + 1;
                                }
                                @if (d.MaNhanVien != null)
                                {
                                    <td style="text-align: center; display: table-cell; vertical-align: middle; overflow: hidden">@d.MaNhanVien</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (d.HoTen != null)
                                {
                                    <td style="text-align: center; display: table-cell; vertical-align: middle">@d.HoTen</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (d.GioiTinh != null)
                                {
                                    if (d.GioiTinh == true)
                                    {
                                        <td style="text-align: center; display: table-cell; vertical-align: middle">Nam</td>

                                    }
                                    else
                                    {
                                        <td style="text-align: center; display: table-cell; vertical-align: middle">Nữ</td>

                                    }
                                }
                                else
                                {
                                    <td></td>
                                }

                                @if (d.SoDienThoai != null)
                                {
                                    <td style="text-align: center; text-align: center; display: table-cell; vertical-align: middle">@d.SoDienThoai</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @* Lớp *@
                                @if (d.DiaChi != null)
                                {
                                    <td style="text-align: center; text-align: center; display: table-cell; vertical-align: middle">@d.DiaChi</td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @* Khóa *@
                                @if (d.ChucVu != null)
                                {
                                    <td style="text-align: center; text-align: center; display: table-cell; vertical-align: middle">@d.ChucVu </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (d.TenDangNhap != null)
                                {
                                    <td style="text-align: center; text-align: center; display: table-cell; vertical-align: middle">@d.TenDangNhap </td>
                                }
                                else
                                {
                                    <td></td>
                                }
                                @if (d.MatKhau != null)
                                {
                                    <td style="text-align: center; text-align: center; display: table-cell; vertical-align: middle">@d.MatKhau </td>
                                }
                                else
                                {
                                    <td></td>
                                }                            
                            </tr>
                            }
                        </tbody>
                    </table>
                    <div class="row" id="allDoc_page">
                        <!-- Thêm mã phân trang -->
                        <br />
                        <div class="row">
                            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 " style="text-align: left; padding-left: 0;">

                                @Html.PagedListPager(Model, page => Url.Action("Index", "Manager_SignUp", new { page, size = ViewBag.currentSize, searchString = ViewBag.searchValue }))
                            </div>

                            <div class="col-md-6 col-lg-6 col-xs-6 col-sm-6 " style="text-align: right; padding-right: 0; padding-top: 20px">
                                Trang: @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
                            </div>
                        </div>

                        <!-- Kết thúc -->
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

