@model IEnumerable<Restaurant.Models.BanDatTruoc>

@{ ViewBag.Title = "Tiếp tân - Đặt bàn trước";
    Layout = "~/Views/Receptionist_Layout.cshtml";
    var j = 0;
    }
<style>
    .custom-btn {
        width: 130px;
        height: 40px;
        color: #fff;
        border-radius: 5px;
        padding: 10px 25px;
        font-family: 'Lato', sans-serif;
        font-weight: 500;
        background: transparent;
        cursor: pointer;
        transition: all 0.3s ease;
        position: relative;
        display: inline-block;
        box-shadow: inset 2px 2px 2px 0px rgba(255,255,255,.5), 7px 7px 20px 0px rgba(0,0,0,.1), 4px 4px 5px 0px rgba(0,0,0,.1);
        outline: none;
    }

    .text {
        margin-left: 900px;
        text-align: center;
    }
    /* btn them moi*/
    .btn-1 {
        background: rgb(0,172,238);
        background: linear-gradient(0deg, rgba(0,172,238,1) 0%, rgba(2,126,251,1) 100%);
        width: 130px;
        height: 40px;
        line-height: 42px;
        padding: 0;
        border: none;
    }

        .btn-1 span {
            position: relative;
            display: block;
            width: 100%;
            height: 100%;
        }

        .btn-1:before,
        .btn-1:after {
            position: absolute;
            content: "";
            right: 0;
            top: 0;
            background: rgba(2,126,251,1);
            transition: all 0.3s ease;
        }

        .btn-1:before {
            height: 0%;
            width: 2px;
        }

        .btn-1:after {
            width: 0%;
            height: 2px;
        }

        .btn-1:hover {
            background: transparent;
            box-shadow: none;
        }

            .btn-1:hover:before {
                height: 100%;
            }

            .btn-1:hover:after {
                width: 100%;
            }

        .btn-1 span:hover {
            color: rgba(2,126,251,1);
        }

        .btn-1 span:before,
        .btn-1 span:after {
            position: absolute;
            content: "";
            left: 0;
            bottom: 0;
            background: rgba(2,126,251,1);
            transition: all 0.3s ease;
        }

        .btn-1 span:before {
            width: 2px;
            height: 0%;
        }

        .btn-1 span:after {
            width: 0%;
            height: 2px;
        }

        .btn-1 span:hover:before {
            height: 100%;
        }

        .btn-1 span:hover:after {
            width: 100%;
        }
    /* btn them moi*/

</style>

<main id="main" class="main">
    <div class="row">
        <div class="col-xs-12 col-md-12">
            <div class="widget">
                <div class="widget-header bordered-bottom bordered-yellow mb-3" style="display: flex">
                    <div class="widget-caption has-sub-caption row col-lg-9 col-md-6">
                        <span class="widget-caption-left" style="width:40px"><i class="menu-icon fa fa-tasks"></i></span>
                        <div class="widget-caption-right">
                            <span class="widget-mainCaption">
                                Danh sách bàn đặt trước
                            </span>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6" style="padding-right: 0px;">
                        <a class="custom-btn btn-1 text" style="float:right" href="/Receptionist_DatBanTruoc/ThemMoi">Thêm mới</a>                    </div>

                </div>
                <div class="row" style="margin-bottom: 0">
                    <table id="allDoc_table" class="table table-striped table-bordered" cellspacing="0" style="width: 100%; table-layout: fixed;">
                        <thead>
                            <tr style="color:black; background-color:#00bcd4">
                                <th style="text-align: center; width: 15px">
                                    STT
                                </th>
                                <th style="text-align: center; width: 15px">
                                    Mã khách hàng
                                </th>
                                <th style="text-align: center; width: 15px">
                                    Mã Bàn
                                </th>
                                <th style="text-align: center; width: 35px">
                                    Ngày
                                </th>
                                <th style="text-align: center; width: 25px">
                                    Giờ
                                </th>
                                <th style="text-align: center; width: 15px"> 
                                    Số lượng
                                </th>
                                <th style="text-align: center; width: 45px">
                                    Ghi chú
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">@j</td>
                                    @{
                                        j = j + 1;
                                    }
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">
                                        @item.MaKhachHang
                                    </td>
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">

                                        @item.MaBan
                                    </td>
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">
                                        @item.Ngay
                                    </td>
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">
                                        @item.Gio
                                    </td>
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">
                                        @item.SoLuong
                                    </td>
                                    <td style="width: 5%; text-align: center; display: table-cell; vertical-align: middle">
                                        @item.GhiChu
                                    </td>
                                    @*<td>
                    @Html.ActionLink("Sửa", "CapNhat", new { idMaKhachHang = item.MaBanDatTruoc }) |
                    @Html.ActionLink("Xóa", "Xoa", new { idMaKhachHang = item.MaBanDatTruoc })
                </td>*@

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

</main>
