@*@model IPagedList<Restaurant.Models.khuyenmai>
    @using PagedList.Mvc;
    @using PagedList;*@
@{ ViewBag.Title = "Index";
    Layout = "~/Views/Client_Layout.cshtml"; }
@using Restaurant.Models;
@section  Header{
    <a href="~/Home" class="nav-item nav-link">Trang chủ</a>
    <a href="~/Special" class="nav-item nav-link active">Khuyến mãi</a>
    <a href="~/News/Index" class="nav-item nav-link">Bài viết</a>
    <a href="~/Menu" class="nav-item nav-link">Menu</a>
}
<style>
    .food_section .container .heading_content {
        display: flex;
        align-items: center;
        max-width: 60%;
        margin-top: 32px;
        font-weight: bold;
    }

    .food_section .box-news .img-box-news {
        border-radius: 0;
        height: auto;
        padding: 0;
        background-color: #222831;
    }

        .food_section .box-news .img-box-news img {
            max-height: initial;
        }

    .food_section .box-news .detail-box {
        display: flex;
        flex-direction: column;
    }

        .food_section .box-news .detail-box a {
            font-size: 18px;
            font-family: "Heebo",sans-serif;
        }

        .food_section .box-news .detail-box span {
            font-size: 25px;
            font-family: "Heebo",sans-serif;
            font-weight: bold;
        }

        .food_section .box-news .detail-box .tenmon {
            font-size: 20px;
            font-family: "Heebo",sans-serif;
            font-weight: bold;
            text-align: center;
            color: #FEA116;
        }


        .food_section .box-news .detail-box p {
            display: block;
            display: -webkit-box;
            height: auto;
            font-size: 14px;
            line-height: 1.3;
            -webkit-line-clamp: 3; /* s? d?ng hi?n th? */
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
            margin-top: 10px;
            text-align: justify;
        }
</style>

@section Introduction{
    <div class="container-xxl py-5 bg-dark hero-header mb-5">
        <div class="container text-center my-5 pt-5 pb-4">
            <h1 class="display-3 text-white mb-3 animated slideInDown">Khuyến mãi</h1>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb justify-content-center text-uppercase">
                    <li class="breadcrumb-item"><a href="#">Trang chủ</a></li>
                    <li class="breadcrumb-item text-white active" aria-current="page">Khuyến mãi</li>
                </ol>
            </nav>
        </div>
    </div>
}
<section class="food_section layout_padding">
    <div class="container">


        <div class="filters-content">
            <div class="row grid">
                @foreach (sieukhuyenmai item in Model)
                {

    <div class="col-sm-6 col-lg-4 all pizza wow fadeInUp" style="display: flex;">
        <div class="box box-news">
            <div>
                <div class="img-box img-box-news">
                    <img src="@item.monan.HinhAnh" alt="">
                </div>

                <div class="detail-box">

                    <p> <span class="tenmon">@item.monan.TenMonAn</span> <br />giảm đến <span>@item.khuyenmai.MucKhuyenMai% </span> </p>

                    <p>
                        Từ ngày @item.khuyenmai.ThoiGianBatDau
                        <br />
                        đến ngày @item.khuyenmai.ThoiGianKetThuc.
                    </p>



                    <a href="/Special/subSpecial/@item.khuyenmai.MaKhuyenMai" style="align-self: flex-end;">Chi tiết</a>
                </div>
            </div>
        </div>
    </div>}
            </div>
        </div>


        @*@Html.PagedListPager(Model, page => Url.Action("Index", new { page, searchString = Request.QueryString["search"] }))*@

        @*<div class="btn-box">
                <a href="">
                    Xem thêm
                </a>
            </div>*@
    </div>
</section>