@model Restaurant.Models.HoaDon

@{ 
    var list_dsgm = ViewBag.List_DanhSachGoiMon;
    var list_nhanvien = ViewBag.List_NhanVien;
    ViewBag.Title = "Thêm hóa đơn";
    Layout = "~/Views/Cashier_Layout.cshtml"; }




<div class="container" style="padding-top:120px; min-height:800px">
    <div class="row">
        <div class="col-md-12">
            <h5>Thêm hoá đơn</h5>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">

            @using (Html.BeginForm())
            {
@Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="form-group">
                    <label> Mã hóa đơn</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.MaHoaDon, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.MaHoaDon, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <label> Mã danh sách gọi món</label>
                    <div class="col-md-10">
                        <select name="MaGoiMon">
                            @foreach (var item in list_dsgm)
                            {
                                <option value=@item.MaGoiMon>@item.MaGoiMon</option>
                            }
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>
                <div class="rs-select2 js-select-simple select--no-search">
                    
                </div>
                <div class="form-group">
                    <label> Số tiền</label>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.SoTien, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.SoTien, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    <label> Thời gian xuất</label>
                    <div class="col-md-10">
                        <input class="form-control" name="ThoiGianXuat" value="@Html.Raw(DateTime.Now.ToString("yyyy-MM-dd HH:mm").Replace(' ','T'))" type="datetime-local" />
                        @Html.ValidationMessageFor(model => model.ThoiGianXuat, "", new { @class = "text-danger" })
                    </div>
                </div>

                

                <div class="form-group">
                    <label> Mã nhân viên</label>
                    <div class="col-md-10">
                        <select name="MaNhanVien">
                            @foreach (var item in list_nhanvien)
                            {
                    <option value=@item.MaNhanVien>@item.MaNhanVien</option>}
                        </select>
                        <div class="select-dropdown"></div>
                    </div>
                </div>



                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Thêm" class="btn btn-default" />
                    </div>
                </div>
            </div>            }
        </div>
    </div>
</div>
